<!--&lt;!&ndash; Main navigation &ndash;&gt;-->
<!--<header>-->
<!--    &lt;!&ndash;Navbar&ndash;&gt;-->
<!--    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">-->
<!--        <mdb-navbar-brand>-->
<!--            <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>MDB</strong></a>-->
<!--        </mdb-navbar-brand>-->
<!--        <links>-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                <li class="nav-item active waves-light" mdbWavesEffect>-->
<!--                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--                </li>-->
<!--                <li class="nav-item waves-light" mdbWavesEffect>-->
<!--                    <a class="nav-link" href="#">Link</a>-->
<!--                </li>-->
<!--                <li class="nav-item waves-light" mdbWavesEffect>-->
<!--                    <a class="nav-link" href="#">Profile</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <form class="form-inline">-->
<!--                <div class="md-form my-0">-->
<!--                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--                </div>-->
<!--            </form>-->
<!--        </links>-->
<!--    </mdb-navbar>-->
<!--    &lt;!&ndash; Full Page Intro &ndash;&gt;-->
<!--    <div class="view jarallax" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">-->
<!--        &lt;!&ndash; Mask & flexbox options&ndash;&gt;-->
<!--        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">-->
<!--            &lt;!&ndash; Content &ndash;&gt;-->
<!--            <div class="container">-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--                <div class="row">-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-md-12 mb-4 white-text text-center">-->
<!--                        <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"-->
<!--                            data-wow-delay="0.3s"><strong>Minimalist intro</strong></h1>-->
<!--                        <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">-->
<!--                        <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Photography-->
<!--                            & design</strong></h5>-->
<!--                        <a mdbBtn color="white" outline="true" mdbWavesEffect class="wow fadeInDown" data-wow-delay="0.4s">portfolio</a>-->
<!--                        <a mdbBtn color="white" outline="true" mdbWavesEffect class="wow fadeInDown" data-wow-delay="0.4s">About me</a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; Content &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; Mask & flexbox options&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Full Page Intro &ndash;&gt;-->
<!--</header>-->
<!--&lt;!&ndash; Main navigation &ndash;&gt;-->
<!--Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam qui ipsam itaque officiis ipsum et recusandae-->
<!--voluptatem tenetur. Quibusdam dolorem in totam quis necessitatibus blanditiis mollitia, inventore rem recusandae quo?-->
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Light mask</h3>
            <p>First text</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Strong mask</h3>
            <p>Secondary text</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
        </div>
    </mdb-carousel-item>
</mdb-carousel>

<router-outlet></router-outlet>
